################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pdb
*.dll
*.cache
*.targets
*.props
/DotNetExample/.vs/DotNetExample
/DotNetExample/DotNetExample.Repositories/obj/Debug/net8.0
/DotNetExample/DotNextExample.Contracts/obj/Debug/net8.0
/DotNetExample/DotNetExample.Dtos/obj/Debug/net8.0
/DotNetExample/DotNetExample.DataAccessLayer/obj/Debug/net8.0
/DotNetExample/DotNetExample.Business/obj/Debug/net8.0
/DotNetExample/DotNetExample/obj/Debug/net8.0
/DotNetExample/DotNetExample/bin/Debug/net8.0
/DotNetExample/DotNetExample/obj
/DotNetExample/DotNetExample.Business/bin/Debug/net8.0
/DotNetExample/DotNextExample.Contracts/obj
/DotNetExample/DotNextExample.Contracts/bin/Debug/net8.0/DotNextExample.Contracts.deps.json
/DotNetExample/DotNetExample.Business/obj
/DotNetExample/DotNetExample.DataAccessLayer/bin/Debug/net8.0
/DotNetExample/DotNetExample.DataAccessLayer/obj
/DotNetExample/DotNetExample.Repositories/bin/Debug/net8.0
/DotNetExample/DotNetExample.Repositories/obj
/DotNetExample/DotNetExample.Dtos/bin/Debug/net8.0
/DotNetExample/DotNetExample.Dtos/obj
/DotNetExample/DotNetExample.Dtos/obj/DotNetExample.Dtos.csproj.nuget.dgspec.json
/DotNetExample/DotNetExample/DotNetExample.csproj.user
/DotNetExample/DotNetExample.Mappings/obj/Debug/net8.0
/DotNetExample/DotNextExample.Contracts/bin/Debug/net8.0
/DotNetExample/DotNetExample.Mappings/obj
/DotNetExample/DotNetExample.Mappings/bin/Debug/net8.0
